body {
  font-family: sans-serif; // Used as a fallback:
  font: caption; // Set everything to use the system font
  font-weight: 400;
  font-size: 100%;

  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
